<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniResearch</title>
</head>
<body>
    <h1>Compare Universities in Canada</h1>
    <form action="#", method="POST">
    <div>
        <label for="provinces">Where do you want to study?</label>
        <select name="provinces" id="provinces">
            <option value="alberta">Alberta</option>
            <option value="british-columbia">British Columbia</option>
            <option value="manitoba">Manitoba</option>
            <option value="new-brunswick">New Brunswick</option>
            <option value="newfoundland-and-labrador">Newfoundland and Labrador</option>                <option value="nova-scotia">Nova Scotia</option>
            <option value="ontario">Ontario</option>
            <option value="quebec">Quebec</option>
            <option value="saskatchewan">Saskatchewanr</option>
        </select>
    </div>
    <div>       
        <label for="jobs">What career do you want to pursue?</label>
        <select name="jobs" id="jobs">
                <option value="computer-engineer">Computer Engineering</option>
                <option value="mechanical-engineer">Mechanical Engineering</option>
                <option value="civil-engineer">Civil Engineering</option>
                <option value="electrical-engineer">Electrical Engineering</option>
                <option value="chemical-engineer">Chemical Engineering</option>
                <option value="office-administrator">Office Administrator</option>
                <option value="store-manager">Store Manager</option>
        </select>
    </div>
    <input type="submit" value="Find information">
    </form>
</body>
</html>